.sequence {
	/* background-color: maroon; */
	height: 400px;
	position: relative;
	width: 100%; 
}
.sequence .item {
	padding: 100px;
	background-color: rgba(0, 255, 0, 0.5); 
	border: 10px solid blue;
	height: 100px;
	position: absolute;
	width: 200px; 
}
</style>